# http://www.gnu.org/software/automake

Makefile
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
/config.h

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache

/bin/
/lib/
/include/

*.Plo
*.Po

*.lo
*.la
*.o
.libs/

/config.log
/config.status
/libtool

src/bin/fstarcsort
src/bin/fstclosure
src/bin/fstcompile
src/bin/fstcompose
src/bin/fstconcat
src/bin/fstconnect
src/bin/fstconvert
src/bin/fstdeterminize
src/bin/fstdifference
src/bin/fstdisambiguate
src/bin/fstdraw
src/bin/fstencode
src/bin/fstepsnormalize
src/bin/fstequal
src/bin/fstequivalent
src/bin/fstinfo
src/bin/fstintersect
src/bin/fstinvert
src/bin/fstisomorphic
src/bin/fstmap
src/bin/fstminimize
src/bin/fstprint
src/bin/fstproject
src/bin/fstprune
src/bin/fstpush
src/bin/fstrandgen
src/bin/fstrelabel
src/bin/fstreplace
src/bin/fstreverse
src/bin/fstreweight
src/bin/fstrmepsilon
src/bin/fstshortestdistance
src/bin/fstshortestpath
src/bin/fstsymbols
src/bin/fstsynchronize
src/bin/fsttopsort
src/bin/fstunion
